<div class="container">
  <form #personalForm="ngForm">
    <div class="row personalInfo">
      <div class="col"></div>
      <div class="col-6">
       <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><input editable [theValue]="profile.currentPosition" type="text" class="form-control" placeholder="Posicion Actual" required id="currentPosition" name="currentPosition" [(ngModel)]="currentPosition" #current="ngModel"><button class="btn btn-default btn-sm bt-edit" (click)="edit($event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></p>
       <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><input [disabled] = "!isEditable" type="text" class="form-control" placeholder="Direccion" id="address" name="address" required [(ngModel)]="address" #add="ngModel">        
        <button class="btn btn-default btn-sm bt-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></p>
       <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="email" class="form-control" id="email" name="email" placeholder="Corre Electronico" disabled="disabled" required [(ngModel)]="email" [value]="email" #mail></p>
       <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><input [disabled] = "!isEditable" type="text" class="form-control" placeholder="Telefono" id="telephone" name="telephone" required [(ngModel)]="telephone" #tel="ngModel">
        <button class="btn btn-default btn-sm bt-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></p>
     <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><input [disabled] = "!isEditable" type="text" class="form-control" placeholder="Celular" id="cellphone" name="cellphone" required [(ngModel)]="cellphone" #cell="ngModel"><button class="btn btn-default btn-sm bt-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></p>
      </div>
      <div class="col">
      </div>
   </div>
   <div class=row>
     <div class="col"></div>
     <div class="col-6">
         <button type="button" class= "btn btn-primary btn-block" [disabled]="!personalForm.valid" (click)="saveInfo()">Guardar</button>
     </div>
     <div class="col"></div>
   </div>
  </form>
</div>