<div class="container">
  <form>
    <div class="row personalInfo">
      <div class="col"></div>
      <div class="col-6">
       <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Posicion Actual"></p>
       <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Direccion"></p>
       <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="email" class="form-control" placeholder="Corre Electronico"></p>
       <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Telefono"></p>
     <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Celular"></p>
      </div>
      <div class="col"></div>
   </div>
   <div class=row>
     <div class="col"></div>
     <div class="col-6">
         <button type="submit" class= "btn btn-primary btn-block">Guardar</button>
     </div>
     <div class="col"></div>
   </div>
  </form>
</div>