<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
<div class="w3-container container">
<form>
  <div class="row">
    <div class="col-sm-12">
       <div class="row">
           <div class="col" style="text-align: center;"><input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Trabajo:"></div>
         <div class="col-sm-5"><input class="form-control" type="text" placeholder="Posicion"></div>
         <div class="col-sm-5"><input class="form-control" type="text" placeholder="Empresa"></div>
         <div class="col"></div>
     </div>
     </div>
    <div class="col-sm-12">
      <div class="row">
          <div class="col"></div>
        <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="From"></h6></div>
        <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="To"></h6></div>
         <div class="col"></div>
        <div class="col-sm-12">
          <fieldset class="form-control">
          <legend>Descripcion..</legend>
             <textarea class="form-control"></textarea>
          </fieldset>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-6">
           <button type="submit" class="btn btn-primary btn-block">Guardar</button>
        </div>
        <div class="col"></div>
    </div>
</form>
</div>

