<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="img-container">
        <img [src]="userPicture" style="width:80%; margin: auto;" alt="Avatar" class="loadPicture img-responsive" *ngIf="userPicture">
        <img src="assets/loading.gif" *ngIf="!userPicture"style="width:80%; margin: auto;" alt="Avatar" class="loadPicture img-responsive">
    </div>
   </div>
    <div class="col"></div>
  </div>
    <div class="row">
       <div class="col-12 bt-container">
        <form>
           <div class="form-group">
               <input class="form-control-file btn btn-default" type="file" id="imgSrc" name="imgSrc" #imgSrc required>
              <button class="btn btn-primary btn-lg btn-block" type="button" (click)="loadPicture()">Load</button>
           </div>
          
        </form>
       </div>
    </div>
  </div>

