<div class="container">   
  <table class="table">  
  <thead>    
    <tr>      
      <th>#</th>      
      <th>Habilidad</th>      
      <th>Porcentaje</th>      
      <th>Acciones</th>    
    </tr>  
  </thead>  
  <tbody>    
      <tr>      
        <th scope="row" *ngFor="let skill of skills; let index = index;">{{index + 1}}</th>
        <td>{{skill.name}}</td>
        <td>{{skill.percentage}}%</td>      
        <td><input class="btn btn-primary" type="button" value="Select"(click)="selectSkill(index)"></td>   
    </tr> 
  </tbody>
  </table>
</div>
