<div class="container signin-container">
  <div class="row">
    <div class="col"></div>
  <div class="col-sm-12 col-md-8">
       <div class="card signin-card">
      <div class="card-body">
      <h3 class="notFoundHeader">Pagina no Enctorada..</h3>
      <div class="erroContent">
          <p>La pagina buscada no se encuentra asegurese de que esta pagina pertenece a 2HR Web.</p>    
          <p>Si el problema continua Contacte al administrador de la pagina </p>  
      </div>  
      </div>
    </div>
    <a [routerLink]="['/']" class="linkHome">Ir a Home</a>
  </div>
  <div class="col"></div>
</div>
</div>
