<div class="container-fluid">
    <div class="row" *ngFor="let posts of jobPosts; let index = index;">
        <div class="col-sm-12">
          <div class="card">
            <img class="card-img-top" [src]="posts.imgSrc" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{posts.title}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">Por: {{posts.posteredBy}} - {{posts.entryDate | date}}</h6>
              <p class="card-text">{{posts.jobDescription.functions}}</p>
              <a href="#" class="card-link">Aplicar</a>
              <a href="#" class="card-link">Ver Detalles</a>
            </div>
          </div>
        </div>
      </div>
</div>
