div.dashboardRow{
   margin: 0 auto;
}
div.summaryRow{
    max-height: 200px;
    border-bottom: 1px solid  #c2d6d6;
    padding: 1rem;
   
}
div.summaryRow div.card{
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
   
}
div.summaryRow div.card span{
    display: block;
    margin: auto;
    line-height: 2rem;
    font-weight: 700;
}

div.summaryRow div.card #spanSolicitudes{
    color: #008000;
}
div.summaryRow div.card span.cardText{
    color: #669999;
}
div.summaryRow div.card #spanMensajes{
    color: #ff1a1a;
}
div.summaryRow div.card #spanEntrevistas{
    color: #0086b3;
}
div.userSideBar{
    background-color: black;
    margin-left: 0;
    height: 1000px;
}
div.userSideBar ul li{
    text-align: center;
}

div.userSideBar ul li:hover{
    background-color: #0086b3 !important;
} 

@media screen and (max-width: 580px) {
    div.userSideBar{
        height: auto;
    }
    div.summaryRow div[class^="col-"]{
        margin: 2rem;
    }
    div.summaryRow{
        max-height: 500px;
    }
}

@media screen and (max-width: 768px) {
  
    div.summaryRow div[class^="col-"]{
        margin: 1rem;
    }

    div.summaryRow{
        max-height: 500px;
    }
}

