<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  
    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <div class="img-container" style="width: 100%; text-align: center;">
            <img src="loadPicture.jpg"  alt="Avatar" class="loadPicture">
        </div>
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2><button class="btn btn-primary">Load</button></h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Posicion Actual"></p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Direccion"></p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="email" class="form-control" placeholder="Corre Electronico"></p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Telefono"></p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><input type="text" class="form-control" placeholder="Celular"></p>
            <hr>
  
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Habilidades</b></p>
        <div class="container">
            
            <p><input type="text" class="form-control" placeholder="Primera Habilidad"</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
            <select class="form-control">
              <option value="100">100%</option>
            <option value="90">90%</option>
            <option value="80">80%</option>
            <option value="70">75%</option>
            <option value="50">50%</option>
            <option value="25">25%</option>
          </select>
        </div>
            </div>
            <p style="margin-top: 10px;"><input type="text" class="form-control" placeholder="Segunda Habilidad"</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
            <select class="form-control">
              <option value="100">100%</option>
            <option value="90">90%</option>
            <option value="80">80%</option>
            <option value="70">75%</option>
            <option value="50">50%</option>
            <option value="25">25%</option>
          </select>
        </div>
            </div>
             <p style="margin-top: 10px;"><input type="text" class="form-control" placeholder="Tercera Habilidad"</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
            <select class="form-control">
              <option value="100">100%</option>
            <option value="90">90%</option>
            <option value="80">80%</option>
            <option value="70">75%</option>
            <option value="50">50%</option>
            <option value="25">25%</option>
          </select>
        </div>
            </div>
             <p style="margin-top: 10px;"><input type="text" class="form-control" placeholder="Cuarta Habilidad"</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
            <select class="form-control">
              <option value="100">100%</option>
            <option value="90">90%</option>
            <option value="80">80%</option>
            <option value="70">75%</option>
            <option value="50">50%</option>
            <option value="25">25%</option>
          </select>
        </div>
            </div>
            <br>
            </div>
            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Idiomas</b></p>
             <div class="container">
             <div class="row">
              <div class="col-sm-12">
                 <p><input type="text" placeholder="Idioma Natal" class="form-control"></p>
                <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%">
                   <select class="form-control">
                    <option value="100">100%</option>
                    <option value="90">90%</option>
                    <option value="80">80%</option>
                    <option value="70">75%</option>
                    <option value="50">50%</option>
                    <option value="25">25%</option>
                  </select>
                </div>
                </div>
            </div>
               <div class="col-sm-12">
                 <p style="margin-top: 20px"><input type="text" placeholder="Idioma Natal" class="form-control"></p>
                <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%">
                   <select class="form-control">
                    <option value="100">100%</option>
                    <option value="90">90%</option>
                    <option value="80">80%</option>
                    <option value="70">75%</option>
                    <option value="50">50%</option>
                    <option value="25">25%</option>
                  </select>
                </div>
                </div>
            </div>
               <div class="col-sm-12">
                 <p style="margin-top: 20px"><input type="text" placeholder="Idioma Natal" class="form-control"></p>
                <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%">
                   <select class="form-control">
                    <option value="100">100%</option>
                    <option value="90">90%</option>
                    <option value="80">80%</option>
                    <option value="70">75%</option>
                    <option value="50">50%</option>
                    <option value="25">25%</option>
                  </select>
                </div>
                </div>
            </div>
           </div>
         </div>
            <br>
          </div>
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
          <div class="w3-container container">
        <div class="row">
          <div class="col-sm-12">
             <div class="row">
                 <div class="col" style="text-align: center;"><input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Trabajo:"></div>
               <div class="col-sm-5"><input class="form-control" type="text" placeholder="Posicion"></div>
               <div class="col-sm-5"><input class="form-control" type="text" placeholder="Empresa"></div>
               <div class="col"></div>
           </div>
           </div>
          <div class="col-sm-12">
            <div class="row">
                <div class="col"></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="From"></h6></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="To"></h6></div>
               <div class="col"></div>
              <div class="col-sm-12">
                <fieldset class="form-control">
                <legend>Descripcion..</legend>
                   <textarea class="form-control"></textarea>
                </fieldset>
              </div>
          </div>
        </div>
            <hr>
        </div>
          </div>
          <div class="w3-container container">
           <div class="row" style="margin-top: 20px;">
          <div class="col-sm-12">
             <div class="row">
                 <div class="col" style="text-align: center;"><input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Trabajo:"></div>
               <div class="col-sm-5"><input class="form-control" type="text" placeholder="Posicion"></div>
               <div class="col-sm-5"><input class="form-control" type="text" placeholder="Empresa"></div>
               <div class="col"></div>
           </div>
           </div>
          <div class="col-sm-12">
            <div class="row">
                <div class="col"></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="From"></h6></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="To"></h6></div>
               <div class="col"></div>
              <div class="col-sm-12">
                <fieldset class="form-control">
                <legend>Descripcion..</legend>
                   <textarea class="form-control"></textarea>
                </fieldset>
              </div>
          </div>
        </div>
            <hr>
        </div>
          </div>
          <div class="w3-container container">
              <div class="row" style="margin-top: 20px;">
          <div class="col-sm-12">
             <div class="row">
                 <div class="col" style="text-align: center;"><input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Trabajo:"></div>
               <div class="col-sm-5"><input class="form-control" type="text" placeholder="Posicion"></div>
               <div class="col-sm-5"><input class="form-control" type="text" placeholder="Empresa"></div>
               <div class="col"></div>
           </div>
           </div>
          <div class="col-sm-12">
            <div class="row">
                <div class="col"></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="From"></h6></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="To"></h6></div>
               <div class="col"></div>
              <div class="col-sm-12">
                <fieldset class="form-control">
                <legend>Descripcion..</legend>
                   <textarea class="form-control"></textarea>
                </fieldset>
              </div>
          </div>
        </div>
            <hr>
        </div>
          </div>
        </div>
  
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educacion</h2>
          <div class="w3-container container">
             <div class="row">
                 <div class="col-sm-12">
                 <div class="row">
                   <div class="col"></div>
                <div class="col-sm-2" style="text-align: center;"><input readonly class="form-control-plaintext" type="text" placeholder="Nombre de Escuela" value="Nombre de Escuela: "></div>
                 <div class="col-sm-7">
                  <input class="form-control" type="text" placeholder="Nombre de Escuela ">
                 </div>
                 <div class="col"></div>
               </div>
             </div>
             
               <div class="col"></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="Desde"></h6></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="Hasta"></h6></div>
               <div class="col"></div>
           <div class="col-sm-12">
              <input class="form-control" type="text" placeholder="Grado Obtenido">
           </div>
          <hr>
         </div>
          </div>
          <div class="w3-container container">
            <div class="row">
                 <div class="col-sm-12">
                 <div class="row">
                   <div class="col"></div>
                <div class="col-sm-2" style="text-align: center;"><input readonly class="form-control-plaintext" type="text" placeholder="Nombre de Escuela" value="Nombre de Escuela: "></div>
                 <div class="col-sm-7">
                  <input class="form-control" type="text" placeholder="Nombre de Escuela ">
                 </div>
                 <div class="col"></div>
               </div>
             </div>
             
               <div class="col"></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="Desde"></h6></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="Hasta"></h6></div>
               <div class="col"></div>
           <div class="col-sm-12">
              <input class="form-control" type="text" placeholder="Grado Obtenido">
           </div>
          <hr>
         </div>
          </div>
          <div class="w3-container container">
            <div class="row">
                 <div class="col-sm-12">
                 <div class="row">
                   <div class="col"></div>
                <div class="col-sm-2" style="text-align: center;"><input readonly class="form-control-plaintext" type="text" placeholder="Nombre de Escuela" value="Nombre de Escuela: "></div>
                 <div class="col-sm-7">
                  <input class="form-control" type="text" placeholder="Nombre de Escuela ">
                 </div>
                 <div class="col"></div>
               </div>
             </div>
             
               <div class="col"></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="Desde"></h6></div>
              <div class="col-sm-5"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><input class="form-control" type="date" placeholder="Hasta"></h6></div>
               <div class="col"></div>
           <div class="col-sm-12">
              <input class="form-control" type="text" placeholder="Grado Obtenido">
           </div>
          <hr>
         </div>
          </div>
        </div>
  
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  
  <footer class="w3-container w3-teal w3-center w3-margin-top">
     <button class="btn btn-success btn-lg" type="button">Guardar Perfil</button>
    <!--<p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
  </footer>
  
